<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>URL Meta Data</title>
</head>
<body>

  <form action="/save" method="post" name="login">

	<p>
        HomePage:<br>
	</p>
	<input type="text" size="80" name="HomePage" value = "{{ home }}">
	<br>
	<br>
	<p>
        Title:<br>
	</p>
	<input type="text" size="80" name="Title" value = "{{ title }}">
	<br>
	<br>
	<p>
        Keywords:<br>
	</p>
	<input type="text" size="80" name="Keywords" value = "{{ keywords }}">
	<br>
	<br>
	<p>
        Description:<br>
	</p>
	<input type="text" size="80" name="Description" value = "{{ description }}">
	<br>
	<br>
	<input type="submit" value="Submit">

  </form>

</body>
</html>
